<%= turbo_frame_tag(comment) do %>
<ul>
  <li class="comment-thread" id="likeable-<%= object_to_s(comment) %>-<%= comment.id %>">
    <div class="comment" id="comment-<%=comment.id %>">
      <div class="comment-header">
        <div class="comment-info">
          <div class="post-user">
            <%= render partial: 'users/user_icon', locals: { user: comment.user } %>
            <p><%= link_to comment.user.full_name, user_path(comment.user) %></p>
          </div>
          <div class="time-posted">
            <% if user_is_current_user?(comment.user) %>
              <div class="comment-controls">
                <div class="edit-delete">
                  <%= button_to 'edit comment', 
                      edit_polymorphic_path(comment), 
                      method: :get, 
                      class: "button" %>
                  <%= button_to 'delete comment', 
                      comment_path(comment), 
                      method: :delete, 
                      data: { controller: "delete-comment", "delete-comment-target": "comment" }, 
                      class: "button"%>
                </div>
              </div>
            <% end %>
            <% if comment.edited? %>
              <em>edited <%= time_ago_in_words(comment.updated_at) %> ago</em>
            <% else %>
              <em><%= time_ago_in_words(comment.created_at) %> ago</em>
            <% end %>
          </div>
        </div>
      </div>
      <div class="comment-body">
        <div class="comment-content">
          <p><%= simple_format(comment.content.gsub(/\\r\\n/, "\n")) %></p>
        </div>
        <div class="comment-likes">
          <%= turbo_frame_tag "comment-#{comment.id}-likes" do %>
            <%= render partial: "likes/comment_likes_collection", locals: { comment: comment}%>
          <% end %>
        </div>
        <div class="comment-form">
          <%= render partial: 'comments/comment_form',
                            locals: { commentable: comment,
                                      id: "post-#{comment.commentable_id}-comment-#{comment.id}-reply" } %>
        </div>
        <% if comment.comments.includes(:comments).any? %>
          <button id="toggle-comment-<%= comment.id %>-replies" class="toggle-replies toggle-comment-button">
            Hide Replies
            <ion-icon class="chevron" name="chevron-up-outline"></ion-icon>
          </button>
        <% end %>
          <div id="comment-<%= comment.id %>-replies" class="replies">
            <%= turbo_frame_tag "comment-#{comment.id}-replies" do %>
              <%= render partial: 'comments/comment', collection: comment.comments.includes([:likers, user: [:profile]])  %>
            <% end %>
          </div>
      </div>
    </div>
  </li>
  <ul>
<% end %>